canvas {
    display: block;
    vertical-align: bottom;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #292d33;
}

.text {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #f1c50e;
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: "Open Sans" , sans-serif;
    text-align: justify;

}


h1 {
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;

}